Django
django-cors-headers
djangorestframework
google-api-core==1.26.3
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-cloud-dialogflow==2.1.2
google-pasta==0.2.0
googleapis-common-protos==1.53.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
nltk==3.5